/* - - - - element - - - - */
body {
  background-color: #EDEDED;
  font-family: 'Raleway', sans-serif; }

a:hover {
  color: #000;
  text-decoration: none !important; }

.row-details {
  background: #cf1316;
  padding: 8px 0px;
  margin-top: -10px; }

/* - - - - replace primary - - - - */
.btn-primary, .btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle, .page-item.active .page-link, .btn-outline-primary, .form-checkbox input:checked + label:before, .form-checkbox label:before {
  border-color: #cf1316; }

.modal-header, .btn-primary, .btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle, .page-item.active .page-link, .form-checkbox input:checked + label:before, .form-checkbox.selected:before, .icon-bg, #footer {
  background-color: #cf1316; }

.label-actions {
  display: block;
  padding: 9px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 2px 2px 1px #000; }
  .label-actions a {
    color: #FFF; }
  .label-actions:hover {
    -webkit-animation: text-shadow-pop-tr 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    animation: text-shadow-pop-tr 0.2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    color: #FFF; }

a, .page-link, .btn-outline-primary {
  color: #cf1316; }

.row-details .col-sm-4:hover {
  height: 60px;
  display: block;
  background: #FFF;
  margin: -18px 0;
  padding-top: 18px; }
  .row-details .col-sm-4:hover span a {
    color: #000;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.02) !important;
    text-decoration: none; }

/* - - - - class - - - - */
.col-line {
  border-top: 1px solid #fff; }

@media screen and (min-width: 768px) {
  .mt-neg {
    margin-top: -30px;
    z-index: 10; }

  .mb-neg {
    margin-bottom: -30px;
    z-index: 10; } }
.pl-5 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 1.5rem; }

.mb-0 {
  margin-bottom: 0; }

.mt-0 {
  margin-top: 0; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-4 {
  margin-top: 2rem !important; }

.no-link {
  color: initial; }
  .no-link:hover {
    text-decoration: none; }

.equal-height {
  height: 100%; }

.table td, .table th {
  border-top: none; }

.google-maps {
  width: 100%; }

/* - - - - list - - - - */
.list-space-s li + li {
  margin-left: 10px; }

.custom-list li {
  margin-bottom: 15px;
  margin-left: 35px;
  position: relative; }
  .custom-list li:before {
    content: " ";
    display: block;
    width: 25px;
    height: 13px;
    background: url("../img/icon-list.png") no-repeat center;
    background-size: cover;
    position: absolute;
    left: -35px;
    top: 5px; }

.mx-align {
  margin-left: -8px;
  margin-right: -8px; }

/* - - - - icon - - - - */
i.icon {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../img/icon-2x.png");
  background-repeat: no-repeat;
  background-size: 100px auto;
  margin-left: auto;
  margin-right: auto; }
i.icon-bg {
  -webkit-border-radius: 50%;
  border-radius: 50%; }
  i.icon-bg:hover {
    background-color: rgba(207, 19, 22, 0.8); }
i.icon-repeat {
  background-position: 0 0; }
i.icon-help {
  background-position: 0 -50px; }
i.icon-shopping-cart-plus {
  background-position: 0 -100px; }
i.icon-map {
  background-position: 0 -150px; }
i.icon-hour {
  background-position: 0 -200px; }
i.icon-car {
  background-position: 0 -250px; }

/* - - - - btn - - - - */
.btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 3px; }
  .btn.btn-primary:hover {
    background-color: #FFF;
    border-color: #cf1316;
    color: #000;
    text-shadow: 0px 0px 0px; }
    .btn.btn-primary:hover a {
      color: #000; }
      .btn.btn-primary:hover a:hover {
        color: #cf1316; }
  .btn.btn-outline-primary:hover {
    background-color: #FFF;
    border-color: #cf1316;
    color: #000;
    text-shadow: 0px 0px 0px; }
    .btn.btn-outline-primary:hover a:hover {
      color: #cf1316; }

.btn-primary {
  padding: 9px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 2px 2px 1px #000; }

.btn-hover:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

.search-hover:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both; }
.search-hover:hover .search-input-nav {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

/* - - - - text size - - - - */
.text-l {
  font-size: 18px; }

.text-s {
  font-size: 13px; }

/* - - - - body - - - - */
body {
  font-family: 'Raleway','Roboto', 'Verdana', sans-serif; }

#topbar a, #footer a {
  color: #cf1316; }
#topbar .has-search .form-control-feedback, #footer .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa; }

/* - - - - sidenav - - - - */
.sidenav {
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -300px;
  overflow-x: hidden;
  padding-top: 40px; }
  .sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    margin-left: 50px; }
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px; } }
  .sidenav .dropdown-menu {
    width: 91%; }

.dropdown-menu-right {
  min-width: 14rem !important; }

#close-overlay {
  cursor: default;
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(207, 19, 22, 0.5); }

/* - - - - form - - - - */
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #cf1316;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(207, 18, 22, 0.19); }

.form-checkbox {
  padding-left: 15px; }
  .form-checkbox input {
    display: none; }
  .form-checkbox label {
    width: 100%;
    position: relative;
    padding: 10px 10px 10px 30px;
    margin-bottom: 0; }
    .form-checkbox label:before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid; }

.form-range input {
  width: 100%;
  border: none; }
  .form-range input:focus {
    outline: none; }

.ui-slider {
  margin: 6px 15px 10px; }

input.input-range {
  background-color: #cf1316;
  border: none !important;
  height: auto;
  width: inherit; }

.ui-widget-header {
  -webkit-border-radius: 0;
  border-radius: 0; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #cf1316;
  border-color: #a00f11;
  outline: none;
  width: 30px;
  height: 30px;
  top: -12px; }

.ui-slider-horizontal .ui-slider-handle {
  margin-left: -1.1em; }

.ui-slider-handle:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  color: #fff;
  position: relative;
  top: 5px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; }
.ui-slider-handle:first-child:after {
  border-right: 9px solid;
  margin-left: 7px; }
.ui-slider-handle:last-child:after {
  border-left: 9px solid;
  margin-left: 11px; }

/* - - - - topbar - - - - */
#topbar {
  background: #FFF;
  padding: 12px 0px; }
  @media screen and (min-width: 768px) {
    #topbar ul li + li {
      margin-left: 0px; } }
  #topbar .active a {
    color: #000; }
  #topbar .ilb {
    display: inline-block; }

/* - - - - header - - - - */
#header {
  background: #000; }

#header .navbar {
  padding: 0px; }
  #header .navbar a {
    color: #FFF !important; }
    #header .navbar a:hover {
      color: #960003 !important; }
  #header .navbar .nav-item .active a {
    color: #000 !important; }

.search-input-nav-i {
  position: absolute;
  z-index: 999;
  top: -12px;
  left: 12px; }

.search-input-nav {
  border-radius: 0px;
  border: 1px solid #cf1216;
  height: 48px;
  padding-left: 45px; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.62);
  border-radius: 0px;
  /* float: right; */
  /* text-align: right; */
  margin-left: auto; }

.connect {
  color: #FFF;
  padding: 5px 10px;
  text-shadow: 2px 2px 1px #000;
  letter-spacing: 2px; }

#header-nav {
  font-size: 18px; }

.block-slide {
  height: 300px; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: right; } }
/* - - - - page-title - - - - */
.page-title {
  background-image: url("../img/page-title-1.jpg");
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  @media screen and (min-width: 768px) {
    .page-title {
      height: 250px; } }

.page-title {
  background-image: url("https://images.pexels.com/photos/70912/pexels-photo-70912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); }

.page-title-home {
  background-image: url("../img/page-title-home.jpg"); }
  @media screen and (min-width: 768px) {
    .page-title-home {
      height: 450px; } }

.page-title-contact {
  background-image: url("../img/page-title-2.jpg"); }

.page-title-redenen {
  background-image: url("../img/page-title-3.jpg"); }

.page-title-over-ons {
  background-image: url("../img/page-title-4.jpg"); }

.page-title-financieren {
  background-image: url("../img/page-title-5.jpg"); }

.page-title-voertuigherstel {
  background-image: url("../img/page-title-6.jpg"); }

/* - - - - overlay - - - - */
.title-overlay, .img-overlay {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.title-overlay-color2, .img-overlay-color2 {
  background-color: rgba(255, 255, 255, 0.5); }

.box {
  position: relative;
  overflow: hidden;
  min-height: 300px; }
  .box .box-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }
    .box .box-bg img {
      height: 100%;
      width: auto;
      min-height: 100%; }
  .box:hover .img-overlay-accent {
    background-color: rgba(207, 19, 22, 0.8); }
  .box:hover .img-overlay-color2 {
    background-color: rgba(255, 255, 255, 0.8); }
  .box .box-content {
    z-index: 10;
    position: relative;
    width: 100%; }

/* - - - - car grid - - - - */
.car-grid .card.shadow {
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out; }
  .car-grid .card.shadow:hover {
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); }
    .car-grid .card.shadow:hover img {
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      opacity: .8; }
.car-grid .price {
  background: #cf1316;
  color: #FFF;
  padding: 5px 35px 5px 0px;
  margin-right: -35px;
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.18);
  text-shadow: 2px 2px 1px #000;
  font-weight: 700; }

.car {
  border: 1px solid #b5b5b5;
  background: #FFF; }

/* - - - - car infos tech - - - - */
.make-model {
  font-weight: bold; }

/* - - - - card - - - - */
.summary, .card .card-body {
  position: relative;
  padding-top: 25px; }

.summary .label {
  top: -35px; }

.price-angle {
  background: #6f2f2f;
  width: 40px;
  height: 30px;
  position: absolute;
  transform: skewX(-50deg);
  right: -2px;
  top: 63px;
  z-index: -1; }

.label {
  z-index: 2;
  display: block;
  width: fit-content;
  background-color: #cf1316;
  position: absolute;
  top: 15px;
  left: -10px;
  text-shadow: 2px 2px 1px #000;
  font-weight: 700;
  -webkit-box-shadow: 2px 2px 1px rgba(25, 25, 25, 0.84), inset 0 0 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 2px 2px 1px rgba(25, 25, 25, 0.84), inset 0 0 1px rgba(0, 0, 0, 0.53);
  box-shadow: 2px 2px 1px rgba(25, 25, 25, 0.84), inset 0 0 1px rgba(0, 0, 0, 0.53); }

/* - - - - carousel - - - - */
.carousel-control-next, .carousel-control-prev {
  max-width: 100px;
  opacity: 1; }
  .carousel-control-next:hover, .carousel-control-next:focus, .carousel-control-prev:hover, .carousel-control-prev:focus {
    background-color: rgba(0, 0, 0, 0.5); }

.close, .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  color: #fff; }

/* - - - - action btn - - - - */
@media screen and (max-width: 768px) {
  .action-btn a.btn {
    width: 100%; } }

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important; }

.show > .btn-primary.dropdown-toggle {
  background: #cf1316;
  border-color: #cf1316; }

.btn-outline-primary {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #FFF;
  border-color: #cf1316;
  color: #000;
  text-shadow: 0px 0px 0px; }
  .btn-outline-primary:hover {
    text-shadow: 2px 2px 1px #000; }

/* ----------------------------------------------
 * Generated by Animista on 2019-5-4 19:23:21
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    box-shadow: 1px -1px #cf1316, 2px -2px #cf1316, 3px -3px #cf1316, 4px -4px #cf1316, 5px -5px #cf1316, 6px -6px #cf1316, 7px -7px #cf1316, 8px -8px #cf1316;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px); } }
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316, 0 0 #cf1316;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    box-shadow: 1px -1px #cf1316, 2px -2px #cf1316, 3px -3px #cf1316, 4px -4px #cf1316, 5px -5px #cf1316, 6px -6px #cf1316, 7px -7px #cf1316, 8px -8px #cf1316;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px); } }
@-webkit-keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    text-shadow: 1px -1px #000, 3px -3px #000;
    -webkit-transform: translateX(-3px) translateY(3px);
    transform: translateX(-3px) translateY(3px); } }
@keyframes text-shadow-pop-tr {
  0% {
    text-shadow: 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000, 0 0 #000;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    text-shadow: 1px -1px #000, 3px -3px #000;
    -webkit-transform: translateX(-3px) translateY(3px);
    transform: translateX(-3px) translateY(3px); } }

/*# sourceMappingURL=style.css.map */
