
@font-face {
  font-family: 'LemonMilklight';
  src: url('assets/fonts/LemonMilklight.woff2') format('woff2'),
      url('assets/fonts/LemonMilklight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonMilklightitalic';
  src: url('assets/fonts/LemonMilklightitalic.woff2') format('woff2'),
      url('assets/fonts/LemonMilklightitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonMilkitalic';
  src: url('assets/fonts/LemonMilkitalic.woff2') format('woff2'),
      url('assets/fonts/LemonMilkitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('assets/fonts/LemonMilk.woff2') format('woff2'),
      url('assets/fonts/LemonMilk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@media (min-width: 1200px){
  .container {
      max-width: 1200px;
  }
}
body{
  font-family: 'Catamaran', sans-serif;

}
footer{
	background-color:#cf1316;
}
.bg-home{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 450px;
}
.navbar-white{
  background:#FFF;
}
.nav-wish{
  font-size: 24px;
  padding-right: 25px;
  padding-top: 8px;
  font-family: 'LemonMilkitalic',sans-serif;

}
.title, .btn{
  font-family: 'LemonMilkLight',sans-serif;
  letter-spacing: 2px;
}

.title-m{
  font-family: 'LemonMilkLight',sans-serif;
  letter-spacing: 3px;
  font-size: 26px;
}

.title-l{
  font-family: 'LemonMilkLight',sans-serif;
  letter-spacing: 3px;
  font-size: 36px;
}
.title-xl{
  text-shadow: 2px 2px 5px black;
  font-family: 'LemonMilkLight',sans-serif;
  letter-spacing: 3px;
  font-size: 56px;
}
.btn{
  font-size: 14px;
}

@media (max-width: 1200px){
  .nav-wish{
    display: none;
  }
  .w-input-wish{
  width:90%!important;}
}
@media (max-width: 987px){
  .w-input-wish{
  width:50%!important;}
}
.brand-wrap .logo, .navbar-brand .logo {
  margin-right: 7px;
  max-height: 115px;
  display: inline-block;
}

.form-control-lg{
  display: block;
  width: 60%;
  height: 50px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem 0rem 0rem .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-select-lg{
  display: inline-block;
  width: 30%;
  height: 50px;
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0px!important;
}
/*btn*/

.btn-primary, .bg-primary, .btn-outline-primary:hover{
  background: #cf1316!important;
  border-color: #cf1316;
  color: #FFF;
}
.btn-outline-primary{
  border-color: #cf1316!important;
  color:#cf1316;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}
.btn-outline-secondary{
  border-color: #222222;
  color: #222222;
}
.btn-primary:hover{
  background: rgb(150, 0, 3)!important;
  border-color: rgb(150, 0, 3);
}
.btn-secondary, .bg-secondary{
  background: #222222!important;
  border-color: #222222;
}
.btn-secondary:hover , .bg-secondary:hover{
  background: #000000!important;
  border-color:  #000000;
}
.bg-secondary, .bg-dark{
background: #222222!important;
}
/* ./btn */


a, .text-red{
  color:#cf1316;
}
a:hover{
  color: rgb(150, 0, 3);
}
.circle{
  border-radius: 90px;
  background: #cf1316;
}
.itembox{
  height: 300px;
  border-radius: 5px;
}
.navbar-nav .nav-link{
  color:#FFF!important;
}
.card-product .img-wrap{
  height: auto;
}

/*slide*/

.slider-main .item-slide {
  height: 240px;
}

.dlist-align dd {
  margin-left: 150px;}
  .dlist-align dt {
    width: 150px;}


    /*nav tab vertical*/
    .nav.nav-tabs {
      float: left;
      background:#FFF;
      display: block;
      margin-right: 20px;
      border-bottom:0;
      border-right: 1px solid #ddd;
      padding-right: 15px;
      padding: 20px;
  }
  .nav-tabs .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      background: none;
  }
  
  .nav-tabs .nav-link.active {
      color: #161616;
      background-color:#FFF !important;
      border-color: transparent !important;
  }
  .nav-tabs .nav-link {
      border: 1px solid transparent;
      border-top-left-radius: 0rem!important;
      border-top-right-radius: 0rem!important;
  }
  .tab-content>.active {
      display: block;
      background: #FFF;
      min-height: 165px;
  }
  .nav.nav-tabs {
      float: left;
      display: block;
      margin-right: 20px;
      border-bottom: 0;
      border-right: 1px solid transparent;
      padding-right: 15px;
  }

@media (min-width: 576px){
  .modal-dialog.annonce {
    max-width: 90%;
  }
  .modal-dialog.modal-abo {
    max-width: 70%;
  }
}

.modal-header{   
  background: #cf1216;
  color: #FFF;
  font-family: 'lemonMilk',sans-serif;
  letter-spacing: 3px;
}

.tab-content{
  background: #FFF;
  padding: 20px;
  width: 78%;
}
.border-red-m{
  border: 2px solid #cf1216;
}

/*contact form*/
body{
  background-color: #25274d;
}
.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3-custom{
  background: #cf1216;
  color: #FFF;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9-custom{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}

.contact-form button:focus{
  box-shadow:none;
}
.enchere-top{
  margin: -20px;
  padding: 20px;
}
.input-mise{
  width: 60%;
  display: inline-block;
}
.position-fixed-top{
  
}
.w-input-wish{
	width:35%;
}